nav {
    /* margin: 16px 0 0 0; */
    padding: 0 calc(5%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030423;
    height: 65px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
.logo {
    margin: 16px 0;
    color: #FFFFFF;
}
.fa  {
    margin-right: 20px;
    color: white;
}
.login {
    background-color: #EC408A;
    border: 0;
    padding: 6px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.header-home {
    background-image: url('maxresdefault\ \(1\).png');
    /* background-size: cover; */
    height: 83vh;
    position: relative;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.header {
    background-color: #030423;
}
.text-box {
    /* Layout Properties */
    position: absolute;
    top: 200px;
    width: 100%;
    height: 358px;
    /* UI Properties */
    
    background: transparent linear-gradient(180deg, #03042300 0%, #03042380 27%, #030423D4 51%, #030423F2 71%, #030423 100%) 0% 0% no-repeat padding-box;
}
.text-box p {
    color: white;
    padding-left: 80px;
    margin-top: 155px;
    font-size: 32px;
}
.btns {
    padding-left: 80px;
}
.btns button {
    padding: 10px 14px;
    margin-right: 5px;
    font: normal normal medium 16px/25px Poppins;
}
.pink {
    background-color: #EC408A;
    color: #ffffff;
    border: 0;
}
.blue {
    background-color: transparent;
    color: white;
    border: 1px solid #EC408A;
}
.pink:hover, .login:hover {
    background-color: #FFFFFF;
    color: #EC408A
}
.blue:hover {
    background-color: #EC408A;
    color: white;
    border: 0;
}
.logo img {
    height: 60px;
}


@media (min-width: 740px ) {
    .text-box{ 
        top: 140px;
    }
    p {
        font-size: 27px;
    }
}

@media (max-width: 740px) and (min-width: 392px ) {
    .header-home {
        height: 50vh;
    }
    .text-box {
        position: absolute;
        top: 260px;
        width: 100%;
        background-color: #030423;
    }
    .text-box p {
        font-size: 27px;
        margin-top: 40px;
        padding-left: 73px;
    }
    .text-box {
        height: 200px;
    }

}
@media (min-width: 1025px) {
    .text-box {
        top: 180px;
        height: 400px;
    }
}

@media (max-width: 390px) {
    .logo img {
        height: 40px;
    }
    .header-home {
        height: 40vh;
    }
    .text-box {
        /* Layout Properties */
        position: absolute;
        top: 215px;
        width: 100%;
        background-color: #030423;
        height: 200px;

    }
    .text-box p {
        font-size: 27px;
        margin-top: 14px;
        padding-left: 50px;
    }
    .btns {
        padding-left: 55px;
    }

}

/* popular entertainment section */

.cards-wrapper {
    display: flex;
}
.card {
    margin: 0.5em;
    width: calc(100%/6);
    background-color: #000000;
    border: none;
}
button .carousel-control-prev-icon,  button .carousel-control-next-icon {
    background-color: black;
    color: black;
    height: 60px;
    width: 40px;
}
.entertainment {
    background-color: #000000;
}
.entertainment h1 {
    color: #ffffff;
    padding: 10px 0;
}
.popular-categories, .Iska-Daawo, .Maxaa-Cusub, .Quraanka, .Education-for-Kids, .Bilan-Bile, .Hees-Carruureedyo {
    padding: 2% 5%;
}
.card img {
    height: 20vh;
}
.card p {
    /* height: 24px;
    /* background-color: transparent; */
    text-align: left;
    font: normal normal normal 20px/30px Poppins;
    letter-spacing: 0px;
    color: #E7428E;
    opacity: 1;
    background-color: #000000;
    margin-bottom: 0;
}

h1 {
    font: normal normal normal 24px/35px Poppins;
}

/* footer  */

.top {
    background-color: #030423;
    padding: 16px calc(5%) 16px calc(5%);
    display: flex;
}
.top img {
    height: 45px;
}
.icons {
    padding: 16px 16px 16px 25px;
        display: flex;
}
.fa-brands {
    color: white;
}
i {
    margin-right: 16px;
}
.top p {
    color: #ffffff;
    font: normal normal normal 13px/27px Poppins;
}
.col1, .col-2, .col-3, .col-4 {
    width: calc(100%/4);
    margin-right: 30px;
}
.bottom {
    background-color: #070934;
    margin-bottom: 0;
}
.bottom p {
    text-align: left;
    font: normal normal normal 13px/27px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px;
    text-align: center;
    margin-bottom: 0;
}
